---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>Let me share with you some projects that I have been working on so far.</p>

<h2>Machine Learning Projects</h2>
<p>These are some machine learning projects that I have done as part of my learning:</p>

{% for post in site.projects.machine-learning %}
  {% include archive-single.html %}
{% endfor %}

<h2>Causal Analysis Project</h2>
<p>I have also worked on one causal analysis project that measures the impact of the ASEAN Smart Cities Network on urban development. 
The quantitative research is done using the General Synthetic Control Method, supported by relevant qualitative research.</p>

{% for post in site.projects.public-policy %}
  {% include archive-single.html %}
{% endfor %}
