---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>Let me share with you some projects that I have been working on so far.</p>

<h3>Machine Learning Projects</h3>
<p>These are some machine learning projects that I have done as part of my learning:</p>

{% for post in site.projects %}
  {% if post.category == "machine-learning" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h3>Causal Analysis Project</h3>
<p>I am working on a causal analysis project that measures the impact of the ASEAN Smart Cities Network on urban development. 
The quantitative research is done using the General Synthetic Control Method, supported by relevant qualitative research. 
Since it is still a work in progress, I have not shared the report here, but in case you are interested to discuss it with me, 
feel free to contact me via email or other chanells.</p>

<div class="flourish-embed flourish-map" data-src="visualisation/19956500"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/19956500/thumbnail" width="100%" alt="map visualization" /></noscript></div>

{% for post in site.projects %}
  {% if post.category == "public-policy" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}